# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
src/test/
src/.qshell
# Folders
_obj
_test
bin
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
report.xml
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
.qshell
qshell_*
qshell-*
_testmain.go
*.exe
*.test
*.prof
.idea

.vscode

# go test coverage file
coverage.txt
